{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой блог на Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'post_list' %}">Мой супер-блог</a></h1>
        <nav>
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit", style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
                        Выйти
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </nav>
        <hr>
        <nav>
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
        </nav>
        <hr>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 - Все права защищены (наверное).</p>
    </footer>
</body>
</html>